@using ConceptArchitect.BookManagement
@model Book


<h2>About @Model.Title</h2>

<div class='row'>
    <div class='col col-md-4'>
        <img src="@Model.Cover_Photo" class="author-details-photo" />
    </div>

    <div class='col col-md-8'>
        <h3>Description</h3>
        <p>@Model.Description</p>
    </div>
</div>
