@{
    ViewData["Title"] = "Home Page";
}

<section id="home">
    <h1 class="h-primary">BOOKLAND</h1>
    @*<img src="~/images/HomePage.jpg" height=100% width=100%>*@
    <p>
        "The World of Books"
    </p>
    <button class="btn">Order Now</button>
</section>